<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Telerik_v3" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3"/>
	</packageSources>
	<packageSourceCredentials>
		<Telerik_v3>
			<add key="Username" value="%TELERIK_USERNAME%" />
			<add key="ClearTextPassword" value="%TELERIK_PASSWORD%" />
		</Telerik_v3>
	</packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Telerik_v3">
			<package pattern="UI.for.*" />
			<package pattern="Telerik.*" />
			<package pattern="Kendo.*" />
		</packageSource>
	</packageSourceMapping>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement>
</configuration>
